* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-weight: normal;
  background-color: #eff6ff;
  padding: 0;
  height: 100vh;
}

#container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

#client-count {
  color: #64748b;
  font-size: 0.875rem;
}

.actions {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
}

.client-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.op_item {
  padding: 0.75rem;
  background-color: #4f46e5;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgb(137, 136, 136);
}

a {
  text-decoration: none;
  color: #0f172a;
}

svg {
  width: 1rem;
  height: 1rem;
}

.client-list {
  margin-top: 1.5rem;
  display: grid;
  gap: 0.5rem;
}

.client-info {
  display: grid;
  gap: 0.5rem;
}
.client-info .client-name {
  font-weight: 500;
}
.client-info div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  font-size: 0.85rem;
}

.client-item {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
